<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-2907.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/001d3c40-c979-4c2a-82f2-163d6ac0f6a6/resourceGroups/hol2907/providers/Microsoft.Web/sites/TollBoothFunctions-2907</ResourceId>
    <UserName>$TollBoothFunctions-2907</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-2907.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>